<div>
  <h1>New House Form</h1>

  <%= form_for(@house) do |f| %>

    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :author, "Author" %>
    <%= f.text_field :author %>

    <%= f.label :source, "Source" %>
    <%= f.text_field :source %>

      <%= f.label :motto, "Motto" %>
    <%= f.text_field :motto %>

    <%= f.submit "Add House"%>

  <% end %>
<div>